{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="container">
{{form_start(form)}}
{{form_widget(form)}}
    <a href="{{path('admin')}}" class="col btn btn-secondary">retour</a>
    <input type="submit" value="valider" class="col btn btn-success">
{{form_end(form)}}
</div>
{% endblock %}
