<div class="col-8 col-lg-3 p-1" style=" margin-left: 8%; ">
        <div class="card border-danger mb-3" style="max-width: 20rem;">
            <div class="row no-gutters align-items-center p-2">
              <div class="col-12 col-mb-4">
                <div class="card-header text-center">{{ carte.nom}}</div>
                    <img src="{{asset('images/' ~ carte.image)}}"  class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                      <rect width="100%" height="100%" fill="#868e96"></rect>
                      <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Description : </text>
                    </img>

                    </div>
                    <div class="card-body">
                      <h5 class="card-title" style=" text-align: center; "  >{{ carte.description}}</h5>
                      <p class="card-text " style=" font-weight:bold;   ">prix :<span style=" color:orange;"> {{ carte.price | number_format(0, ",", " ")}} €</sapn></p>
                    </div>
                    
                    {% if admin %}
                    <div class="container">
                    <a href="{{path('modifAdmin' , {'id' : carte.id })}}" class="col btn btn-warning">Modifier</a>
                    <a href="" class="col btn btn-danger">Supprimer</a>
                    </div>
                    {% else %}
                    <hr>
                        <a href="{{path('cart_add',{'id' : carte.id } )}}" class="btn btn-success float-right">ajouter <i class="fas fa-shopping-cart mr-1"></i></a>
                        
                    {% endif %}
                </div>
            </div>
        </div>