{% extends 'base.html.twig' %}

{% block title %}cartePanier{% endblock %}
{% block monTitre %}Tous les biens{% endblock %}
{% block body %}

{% for message in app.flashes('success') %}
  <div class="alert alert-success">
    {{message}}
  </div>
{% endfor %}

<div class="container">
  {% include "product/_filter.html.twig" with { form : form } only %}
</div>
<div class="container">
{% if admin %}
    <a href="{{path('creationCarte')}}" class="d-block btn btn-success">Ajouter</a>
  {% endif %}
</div>
<div class="row no-gutters" >
  
    {% for carte in cartes %}
    {% include "product/_carte.html.twig" with { carte : carte , admin : admin  } only  %}

    {% endfor %}
<div class="navigation">
    {{ knp_pagination_render(cartes) }}
</div>

 </div>



{% endblock %}
